/* src/index.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* Giữ màu nền xám cực nhẹ như trong hình */
  background-color: #FFC5D3;
  color: #212529;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}