/* src/index.css */
:root {
  --primary-pink: #FFC5D3;
  --dark-pink: #E0A4B3;
  --light-pink: #FFF5F7;
  --text-color: #4A3B3E;
  --white: #ffffff;
}

body {
  background-color: var(--light-pink); /* Nền nhạt giúp mắt dễ chịu hơn */
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}